nav {
    background-color: #171430;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    background-color: #87B091;
    color: #171430;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #C4D4AB;
  }
  